main.flex {
  display: flex;
  gap: 2rem;
  align-items: start;
}

.right-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-grow: 1;
}

section.left-section button {
  background-color: rgb(8, 84, 107);
  gap: 10px;
  width: 10rem;
  padding: 0.75rem 0;
  display: flex;
  flex-direction: column;
  margin-top: 7px;
  color: violet;
  font-size: medium;
  padding-left: 5px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.6px;
  transition: 0.3s;
}
section.left-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
section.left-section button {
  background-color: rgb(8, 84, 107);
  width: 10rem;
  padding: 0.75rem 0.75rem;
  color: violet;
  font-size: medium;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.6px;
  transition: 0.3s;
}
.light section.left-section button {
  background-color: rgb(73, 82, 85);
  color: rgb(209, 187, 209);
}
section.left-section button:hover {
  box-shadow: 5px 5px 20px rgba(209, 26, 26, 0.5);
  background-color: var(--hover);
  opacity: 1;
}
.light section.left-section button:hover { box-shadow: rgb(32, 32, 32);
  background-color: black;
}
.left-section button.active {
  background-color: #ddd;
  /* Add any additional styles for the active state */
}

.box {
  padding: 0.4rem;
}

h1.title {
  color: var(--title);
  padding: 0.4rem;
  text-transform: capitalize;
}

p.subtitle {
  color: var(--subtitle);
  margin-top: 0.7rem;
  margin-bottom: 0.8rem;
  font-size: 0.8rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 1.1rem;
}

.icon-link,
.icon-github {
  margin-right: 10px;
  font-size: 1.2rem;
  color: var(--subtitle);
  margin-bottom: 1.1rem;
}

.icon-link:hover,
.icon-github:hover {
  font-size: 1.5rem;
  color: var(--hover);
  cursor: pointer;
}

article.card {
  border: 1px solid rgb(49, 14, 175);
  border-radius: 10px;
  box-shadow: blue;
  transition: 0.3s;
  background-image: linear-gradient(rgb(43, 160, 228), rgba(205, 112, 214, 0.137));
}

.card:hover {
  border: 2px solid violet;
  border-radius: 10px;
  box-shadow: blue;
  transform: rotate(1deg) scale(1.01);
  cursor: pointer;
}

.card a.link {
  color: blue;
  font-size: 0.9rem;
  margin-bottom: 1.1rem;
  align-self: flex-end;
}

/* Media query for small screens */
@media (max-width: 600px) {
  main.flex {
    flex-direction: column;
    align-items: center;
  }

  section.left-section {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
}
