/* header.css */
header {
    background-color: var(--secondary);
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically in the center */
  }
  
  .flex {
    display: flex;
    justify-content: center; /* Center the navigation horizontally */
    align-items: center; /* Align items vertically in the center */
  }
  
  li {
    list-style: none;
    margin-right: 15px;
  }
  
  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  header ul li a:hover {
    text-decoration: none; /* Underline on hover */
    color: var(--hover);
  }
  
  button {
    background-color: #f8f9fa;
    color: #333;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
  }
  
  nav {
    display: flex;
    background-color: var(--bgheader);
    border-radius: 55px;
    padding: 1rem 2rem;
    font-size: 0.88rem;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 2px 10px 15px rgb(153, 23, 23);
  }
  
  /* New class for the "light" button to position it in the corner */
  .light-button {
    margin-right: 20px; /* Adjust the margin as needed */
  }
  header button.menu{
    display: none;
  }
  @media (max-width:700px) {
    header nav{display: none;}
    header button.menu{
        display: block;
      }
  }
  .border {
    border: 2px solid var(--border); /* You can customize the border style */
 }
  /* CSS */
.fixed-with-border {
    position: fixed;
    inset:0;
    background-color: rgba(76, 76, 112, 0.91);
    border: 2px solid var(--border);
    z-index: 11s    ;
    padding-top: 30px;
  }
  ul.model{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
padding-top: 20px;
padding-left: 2rem;
background-color: var(--secondary); 
animation: x 5s 1; }
ul.model li{
    border-bottom: var(--border) 1px solid;
    padding-top: 10px;
    padding-bottom: 1rem;
}
 .close {
 text-align: right;
  padding-top: 10px;
  padding-bottom: 1rem;
}
@keyframes x{
  0%{scale: 0;}
  100% {scale: 1;}
}
.icon-window-close {
  size: 10px;
  color: white;
  background-color: black;
}

.icon-menu {
  font-size: 24px;
  color: #080808;
  cursor: pointer;
  border: none;
}

.icon-menu:hover {
  color: white;
}

.light-button {
   background-color: gray; 
  border: none;
  cursor: pointer;
}
  
.rounded-button {
  border-radius: 50%;
  padding: 10px; /* Adjust padding as needed */
}
.rounded-button:hover{
  border: 1px blue solid;
  scale:1;
}

.fa-moon {
  font-size: 24px;
  color: rgba(241, 239, 239, 0.89);
}





/*style header main */
.custom-verified-icon {
      font-size: 24px; /* Adjust the font size as needed */
      color: rgb(25, 28, 212);}